.reference-row {
    display: flex;
}

.reference-item {
    padding: 20px;
}

.grid {
    /*border: 1px solid black;*/
    /*background-color: black;*/
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}