.reference {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(140px, 220px);
  grid-gap: 2rem 0;
}
.result {
  height: 160px;
  border: 5px solid black;
}
.grid {
  /*margin: 10px;*/
}
.cell {
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}