.draggable {
  height: 50px;
  border: 1px solid black;
}

.dragged {
  border-color: transparent;
  color: transparent;
}

.dragRepresentation {
  border-color: red;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
